In [1]:
# import pandas
import pandas as pd
import pandas as pd
# read or import CSV file and view the data
bl = pd.read_csv('billboard.csv')
bl

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# use melt to categorize the colmuns items under each specific column name and view the changed data
melted_bl = pd.melt(bl, id_vars=['artiste','track', 'genre','date.entered', 'date.peaked'], var_name='week'
                    , value_name='rank')
melted_bl

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [19]:
melted_bl

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [20]:
# cleaning unnecessary row and view the change
melted_bl = melted_bl.dropna()

In [21]:
melted_bl

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...
19663,Lonestar,Amazed,Country,1999-06-05,2000-03-04,x63rd.week,45.0
19700,Creed,Higher,Rock,1999-09-11,2000-07-22,x63rd.week,50.0
19980,Lonestar,Amazed,Country,1999-06-05,2000-03-04,x64th.week,50.0
20017,Creed,Higher,Rock,1999-09-11,2000-07-22,x64th.week,50.0
20334,Creed,Higher,Rock,1999-09-11,2000-07-22,x65th.week,49.0

In [23]:
#extrat the weeks and convert them to integer
melted_bl['week'] = melted_bl['week'].str.extract('(\d+)').astype(int)

AttributeError: Can only use .str accessor with string values!

In [25]:
melted_bl

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...,...
19663,Lonestar,Amazed,Country,1999-06-05,2000-03-04,63,45.0
19700,Creed,Higher,Rock,1999-09-11,2000-07-22,63,50.0
19980,Lonestar,Amazed,Country,1999-06-05,2000-03-04,64,50.0
20017,Creed,Higher,Rock,1999-09-11,2000-07-22,64,50.0
20334,Creed,Higher,Rock,1999-09-11,2000-07-22,65,49.0

In [30]:
# substract the peaked date from the date entered to the see the number of days per ranking of the songs
melted_bl['date'] = pd.to_datetime(melted_bl['date.peaked']) - pd.to_datetime(melted_bl['date.entered'])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
# extracted date in days
melted_bl['date'].dt.days

0         56
1         56
2         98
3         35
4         70
        ...
19663    273
19700    315
19980    273
20017    315
20334    315
Name: date, Length: 5307, dtype: int64

In [36]:
melted_bl

,artiste,track,genre,date.entered,date.peaked,week,rank,date
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56 days
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56 days
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98 days
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70 days
...,...,...,...,...,...,...,...,...
19663,Lonestar,Amazed,Country,1999-06-05,2000-03-04,63,45.0,273 days
19700,Creed,Higher,Rock,1999-09-11,2000-07-22,63,50.0,315 days
19980,Lonestar,Amazed,Country,1999-06-05,2000-03-04,64,50.0,273 days
20017,Creed,Higher,Rock,1999-09-11,2000-07-22,64,50.0,315 days
20334,Creed,Higher,Rock,1999-09-11,2000-07-22,65,49.0,315 days

In [40]:
# check the data type
melted_bl.dtypes

artiste                  object
track                    object
genre                    object
date.entered             object
date.peaked              object
week                      int64
rank                    float64
date            timedelta64[ns]
dtype: object

In [42]:
melted_bl

,artiste,track,genre,date.entered,date.peaked,week,rank,date
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56 days
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56 days
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98 days
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70 days
...,...,...,...,...,...,...,...,...
19663,Lonestar,Amazed,Country,1999-06-05,2000-03-04,63,45.0,273 days
19700,Creed,Higher,Rock,1999-09-11,2000-07-22,63,50.0,315 days
19980,Lonestar,Amazed,Country,1999-06-05,2000-03-04,64,50.0,273 days
20017,Creed,Higher,Rock,1999-09-11,2000-07-22,64,50.0,315 days
20334,Creed,Higher,Rock,1999-09-11,2000-07-22,65,49.0,315 days